.container {
  main{
    position: relative;
  }
  .header_container {
    margin: 25px 30px 40px 30px;
    min-width: 450px;
    background: linear-gradient(#f8e0c0, #c2ffcf);
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      list-style: none;
      text-decoration: none;
      padding: 0;
      margin: 0;
      box-shadow: 5px 4px 10px 5px #c5c5c5;
      flex-grow: unset;
    }
  }
}
