<div class="content">
  <button class="management_question" routerLink="/management-question">Management Question</button>
  <div class="question_options_content">

    <form [formGroup]="singleQuestionFormGroup" (ngSubmit)="submitForm()">
      <div class="single_question" *ngIf="questionType==='single'">
        <span class="title_type">{{questionType | titlecase}}</span>
        <div class="question_title">
          <span class="title">Question title ` </span>
          <textarea rows="5" formControlName="questionTitle" required></textarea>
        </div>
        <div class="answer_options">
          <div class="options_content">
            <span class="title">Answer options ` </span>
            <label>A :
              <input type="text" id="A" formControlName="questionOptionA" required>
            </label>
            <label>B :
              <input type="text" id="B" formControlName="questionOptionB" required>
            </label>
            <label>C :
              <input type="text" id="C" formControlName="questionOptionC" required>
            </label>
            <label>D :
              <input type="text" id="D" formControlName="questionOptionD" required>
            </label>
          </div>
          <div class="correct_option" *ngFor="let answer of values.correctAnswer">
            <span class="title">Select correct option` </span>
            <input type="radio" name="singleCorrectOption" value="A" [checked]="answer === 'A'" (click)="checked($event.target)">
            <input type="radio" name="singleCorrectOption" value="B" [checked]="answer === 'B'" (click)="checked($event.target)">
            <input type="radio" name="singleCorrectOption" value="C" [checked]="answer === 'C'" (click)="checked($event.target)">
            <input type="radio" name="singleCorrectOption" value="D" [checked]="answer === 'D'" (click)="checked($event.target)">
          </div>
        </div>
        <div class="create_question" [ngClass]="{'disabled':!singleQuestionFormGroup.valid || !isRadioValid}">
          <button [disabled]="!singleQuestionFormGroup.valid">CREATE</button>
        </div>
      </div>
    </form>

    <form [formGroup]="multipleQuestionFormGroup" (ngSubmit)="submitForm()">
      <div class="multiple_question" *ngIf="questionType==='multiple'">
        <span class="title_type">{{questionType | titlecase}}</span>
        <div class="question_title">
          <span class="title">Question title ` </span>
          <textarea rows="5" formControlName="questionTitle" required></textarea>
        </div>
        <div class="answer_options">
          <div class="options_content">
            <span class="title">Answer options ` </span>
            <label>A :
              <input type="text" id="A" formControlName="questionOptionA" required>
            </label>
            <label>B :
              <input type="text" id="B" formControlName="questionOptionB" required>
            </label>
            <label>C :
              <input type="text" id="C" formControlName="questionOptionC" required>
            </label>
            <label>D :
              <input type="text" id="D" formControlName="questionOptionD" required>
            </label>
          </div>
          <div class="correct_option">
            <span class="title">Select correct option` </span>
            <input type="radio" class="mrb" value="A" (click)="checked($event.target)">
            <input type="radio" class="mrb" value="B" (click)="checked($event.target)">
            <input type="radio" class="mrb" value="C" (click)="checked($event.target)">
            <input type="radio" class="mrb" value="D" (click)="checked($event.target)">
          </div>
        </div>
        <div class="create_question" [ngClass]="{'disabled':!multipleQuestionFormGroup.valid || !isRadioValid}">
          <button [disabled]="!multipleQuestionFormGroup.valid">CREATE</button>
        </div>
      </div>
    </form>

    <form [formGroup]="openQuestionFormGroup" (ngSubmit)="submitForm()">
      <div class="open_question" *ngIf="questionType==='open'">
        <span class="title_type">{{questionType | titlecase}}</span>
        <div class="question_title">
          <span class="title">Question title ` </span>
          <textarea rows="5" class="open" formControlName="questionTitle" required></textarea>
        </div>
        <div class="answer_text">
          <span class="title">Answer text ` </span>
          <textarea rows="5" class="open" formControlName="questionText" required></textarea>
        </div>
        <div class="create_question" [ngClass]="{'disabled':!openQuestionFormGroup.valid}">
          <button [disabled]="!openQuestionFormGroup.valid">CREATE</button>
        </div>
      </div>
    </form>

  </div>
</div>