<div class="content">
  <button class="management_question" routerLink="/management-question">MANAGE QUESTION</button>
  <div class="question_options_content">

    <form [formGroup]="singleQuestionFormGroup" (ngSubmit)="submitForm()">
      <div class="single_question" *ngIf="values.type === 'single'">
        <span class="title_type">{{values.type | titlecase}}</span>
        <div class="question_title">
          <span class="title">Question title ` </span>
          <textarea rows="5" maxlength="500" formControlName="questionTitle" required></textarea>
        </div>
        <div class="answer_options">
          <div class="options_content">
            <div class="options_titles">
              <span class="title">Answer options ` </span>
              <span class="title">Select correct option` </span>
            </div>
            <div class="options_values">
              <label>A :
                <input type="text" formControlName="questionOptionA" required>
                <input type="checkbox" value="A" (click)="checked($event.target)" #correctOption>
              </label>
              <label>B :
                <input type="text" formControlName="questionOptionB" required>
                <input type="checkbox" value="B" (click)="checked($event.target)" #correctOption>
              </label>
              <label>C :
                <input type="text" formControlName="questionOptionC" required>
                <input type="checkbox" value="C" (click)="checked($event.target)" #correctOption>
              </label>
              <label>D :
                <input type="text" formControlName="questionOptionD" required>
                <input type="checkbox" value="D" (click)="checked($event.target)" #correctOption>
              </label>
            </div>
          </div>
        </div>
        <div class="create_question" [ngClass]="{'disabled':!singleQuestionFormGroup.valid}">
          <button [disabled]="!singleQuestionFormGroup.valid">CREATE</button>
        </div>
      </div>
    </form>

    <form [formGroup]="multipleQuestionFormGroup" (ngSubmit)="submitForm()">
      <div class="multiple_question" *ngIf="values.type === 'multiple'">
        <span class="title_type">{{values.type | titlecase}}</span>
        <div class="question_title">
          <span class="title">Question title ` </span>
          <textarea rows="5" maxlength="500" formControlName="questionTitle" required></textarea>
        </div>
        <div class="answer_options">
          <div class="options_content">
            <div class="options_titles">
              <span class="title">Answer options ` </span>
              <span class="title">Select correct option` </span>
            </div>
            <div class="options_values">
              <label>A :
                <input type="text" formControlName="questionOptionA" required>
                <input type="checkbox" value="A" (click)="checked($event.target)" #correctOption>
              </label>
              <label>B :
                <input type="text" formControlName="questionOptionB" required>
                <input type="checkbox" value="B" (click)="checked($event.target)" #correctOption>
              </label>
              <label>C :
                <input type="text" formControlName="questionOptionC" required>
                <input type="checkbox" value="C" (click)="checked($event.target)" #correctOption>
              </label>
              <label>D :
                <input type="text" formControlName="questionOptionD" required>
                <input type="checkbox" value="D" (click)="checked($event.target)" #correctOption>
              </label>
            </div>
          </div>
        </div>
        <div class="create_question" [ngClass]="{'disabled':!multipleQuestionFormGroup.valid}">
          <button [disabled]="!multipleQuestionFormGroup.valid">CREATE</button>
        </div>
      </div>
    </form>

    <form [formGroup]="openQuestionFormGroup" (ngSubmit)="submitForm()">
      <div class="open_question" *ngIf="values.type === 'open'">
        <span class="title_type">{{values.type | titlecase}}</span>
        <div class="question_title">
          <span class="title">Question title ` </span>
          <textarea rows="5" maxlength="500" class="open" formControlName="questionTitle" required></textarea>
        </div>
        <div class="answer_text">
          <span class="title">Answer text ` </span>
          <textarea rows="5" class="open" formControlName="questionText"></textarea>
        </div>
        <div class="create_question" [ngClass]="{'disabled':!openQuestionFormGroup.valid}">
          <button [disabled]="!openQuestionFormGroup.valid">CREATE</button>
        </div>
      </div>
    </form>

  </div>
</div>